* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    overflow-x:hidden ;
    
}

header a {
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 7px 5px 7px 5px;
    position: relative;
    float: right;
    bottom: 95px;
    right: 150px;
}

header #title_1 {
    position: relative;
    bottom: 1px;
    left: 183px;
    font-size: 42px;
}

header h3 {
    position: relative;
    bottom: 34px;
    left: 272px;
}
header #dot{
    position: relative;
    left: 285px;
    bottom: 60px;;
}
#img_1 {
    height: 782px;
    position: relative;
    bottom: 233px;
}
#img_1 img{
height: 106%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
clip-path: inset(25% 0% 32% 0%);
}
section p{
    position: relative;
    bottom: 1PX;
}
#rating_1{
    height: 117px;
    width: 220px;
    border: 2px solid black;
    background-color: rgba(192, 102, 102,.1);
    position: relative;;
    left: 1px;
    bottom: 1px;
    /* background: transparent; */
    
}
#tab_over_imag_1{
    height: 195px;
    width: 350px;
    position: relative;
    left: 276px;
    bottom: 19.7cm;
    background-color: rgba(230, 241, 250,.8);
    text-align: center;
    padding: 11px;

}
#tab_over_imag_1 h2{
    font-size: 28px;
    padding: 3px;
}
#tab_over_imag_1 a{

    background-color: red;
    text-decoration: none;
    color: white;
    width: 194px;
    display: block;
    position: relative;
    left: 60px;
    top: 10px;
    padding: 5px;
}
#code{
    color: red;
}
.tab_text{
    padding: 2.5px;
    /* font-weight: 300; */
}
.rating{
    display: inline;
}