* {
    padding: 0;
    margin: 0;
}

#heading {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-evenly
}

.container {
    padding-top: 20px;
    border: 5px solid black;
    border-radius: 15px;
    width: 400px;
    height: 700px;
}

#display_window_parent {
    display: flex;
    justify-content: center;
}

#display_window {
    border-radius: 15px;
    border: 2px solid black;
    height: 100px;
    width: 350px;
}
#output{
    font-size: 30px;
    float: right;
    padding-right: 5px;
}

#fun {
    border: 2px solid black;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    height: 250px;
    width: 350px;
}

#buttons {
    /* border: 2px solid black; */
    height: calc(700px - 20px - 100px - 250px);
}

section {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    text-align: center;
    font-size: 40px; 
    cursor:default;
}

.buttons_of_numbers {
    display: block;
    border: 3px solid black;
    height: 50px;
    width: 50px;
    border-radius: 10px;

}
